name: Cypress Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          spec: cypress/e2e/**/*.feature

      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: cypress/reports
    

      - name: Upload screenshots if failed
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: cypress/screenshots

      - name: Upload videos
        uses: actions/upload-artifact@v4
        with:
          name: videos
          path: cypress/videos
